//fonts
$basic-family: "Roboto", "Arial", "Helvetica", "Oswald", sans-serif;
$second-family: 'Poppins', sans-serif;
$arial-family: Arial, sans-serif, "Oswald";
//container
$container-max-width: 320px;
$container-min-width: 1512px;

//bacgrounds
$body-bg: #ff55;

//fonts
$basic-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
//media
$xs: 350px;
$sm: 556px;
$md: 768px;
$lg: 1200px;